.hello{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
/* Main container */
.contener-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 10px;
  background: #0f172a; /* dark navy */
  color: white;
  width: 100%;
  margin-right:20px;
  height: 50px;
  border-radius: 0px;
  
  font-family: "Segoe UI", sans-serif;

}

/* Left side (logo + text) */
.contener-img {
  display: flex;
  align-items: center;
  gap: 2px;
   cursor: pointer;
  
}

.logo {
  height: 50px;
}

.text {
  height: 50px;
}

/* Center section (greeting + welcome) */
.contener-user {
  text-align: center;
}

.greating {
  font-size: 18px;
  font-weight: 500;
  color: #38bdf8; /* sky blue */
  margin: 0;
}

.user {
  font-size: 22px;
  font-weight: 600;
  margin: 0;
}

/* Right side (name + profile) */
.contener-name {
  display: flex;
  align-items: center;
  gap: 15px;
}

.name {
  font-size: 16px;
  font-weight: 500;
}

/* Profile circle */
.profile {
  width: 40px;
  height: 40px;
  background: #38bdf8;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

/* Hover effect */
.profile:hover {
  background: #0ea5e9;
  transform: scale(1.1);
}
/* Parent ko relative banana zaroori hai */
.contener-name {
  display: flex;
  align-items: center;
  gap: 15px;
  position: relative; /* IMPORTANT */
}

/* Profile box (dropdown) */
.profile-box {
  position: absolute;
  top: 55px;
  right: 0;
  background: #1e293b;
  border-radius: 10px;
  padding: 10px;
  width: 140px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.3);
  animation: fadeIn 0.2s ease-in-out;
  z-index: 1000;
}

/* Button styling */
.logout-btn {
  width: 100%;
  padding: 8px;
  background: #ef4444;
  border: none;
  border-radius: 6px;
  color: white;
  font-weight: 500;
  cursor: pointer;
  transition: 0.3s;
}

/* Hover */
.logout-btn:hover {
  background: #dc2626;
  transform: scale(1.03);
}

/* Animation */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-5px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}